@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;

}
body {
    background: linear-gradient(to top, rgb(111, 56, 74), rgb(61, 61, 129));

}
ul li {
    background-color: rgb(2, 2, 2);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
ul li:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
    
}
ul li:first-child {
    padding: 10px 20px;
    border-radius: 10px;
    
}

ul li:not(:first-child) {
    padding: 5px 0;
    border-bottom: 1px solid white;

}
